# Copyright (C) 2024 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

# Ignored directories
.idea/
.run/
.vscode/
cmake-build*/
conan-staging/
docs/
hictkR.Rcheck/
venv/

# Ignored files
.RData
*.bak
*.tar.*
gmon.out
perf.*
*.o
*.so
inst/doc
