useDynLib(hictkR, .registration = TRUE)

import(Rcpp)
importFrom("methods", "new")

export(File)
export(MultiResolutionFile)
export(SingleCellFile)

export(is_cooler)
export(is_multires_file)
export(is_scool_file)
export(is_hic_file)

export(fetch)
export(hictkR_open)
